
@media screen and (max-width:500px){
    .secondary-menu{
        margin-top:28px;
        margin-bottom:28px;
    }
}
.note-report:hover, #show-edit-name:hover{
    text-decoration:underline;
    cursor:pointer;
}
#createNewTimePeriod{
    width:200px;
    height:100px;
    margin:25px;
}

#time-period-menu-container{
    position:fixed;
    z-index  : 10;
    width:100%;
    height   : 100%;
}
#time-period-menu{
    height   : 90%;
    background-color:lightgrey;
    box-shadow: 0px 0px 1px 5000px rgba(0,0,0,0.8);
    font-size:1.5em;
    position:relative;
}
#time-period-menu-bottom  {
    position: absolute;
    bottom: 0;
}
#time-period-menu-bottom a{
    color:white;
}
#time-period-menu-bottom a:hover{
    color:black;

}
button.activeTaskCategoryType{
    font-weight:bold;
}
.inline{
    display:inline;
}
div.time-select.margin-left{
    margin-left:17px;
}
.listOfActiveTasks{
    margin-left:51px;
}
.margin-bottom{
    margin-bottom:14px;
}
.margin-bottom-2{
    margin-bottom:28px;
}
.margin-left{
    margin-left:14px;
}
.margin-left-2{
    margin-left:28px;
}
.margin-left-3{
    margin-left:42px;
}
.margin-left-4{
    margin-left:56px;
}
.margin-left-5{
    margin-left:70px;
}
.margin-left-6{
    margin-left:84px;
}
.margin-left-7{
    margin-left:98px;
}
.margin-right{
    margin-right:14px;
}
.margin-top{
    margin-top:14px;
}
.margin-top-2{
    margin-top:28px;
}
.padding-left{
    padding-left:14px;
}
.padding-left-2{
    padding-left:28px;
}
.padding-left-3{
    padding-left:42px;
}
.padding-left-4{
    padding-left:56px;
}
.padding-left-5{
    padding-left:70px;
}
.padding-left-6{
    padding-left:84px;
}
.profile-link{
    color:white;
}
.showNewTaskNotes{
    margin-left:21px;
}

.taskNote{
    background-color: #f8f8f8;

}
.task-item:hover{
    border:1px #bbbbbb dotted;
    background-color: #f0f0f0;
    cursor: pointer;
}
.time-period-row:hover {
    border:1px #bbbbbb dotted;
    background-color: #f8f8f8;
}
.timePeriodNote{

}
