h1, h2{
    text-align:center;
    clear:both;
}
h3{
    margin-bottom:8px;
    clear:both;
}
form{
    margin:0px;
}
form.deleteLog{
    float:left;
}
form.delete{
    float:left;
    margin-right:8px;
}
input.deleteLog{
    color:red;
}
input.delete{
    color:red;
}

div.newLog{
    text-align:center;
    width:600px;
}
input.newLog{
    float:right;
}
textarea.newLog{
    width:600px;
    height:200px;
}
#createNewTimePeriod{
    width:200px;
    height:100px;
    margin-left:32px;
}
#endTimestamp{
    float:left;
}
#startTimestamp{
    float:left;
    margin-right:32px;
}
.clear{
    clear:both;
}
.inactive{
    display:none;
}
.insideLog{
    margin-left:24px;
}
.listOfActiveTasks{
    background-color:lightgrey;
}
.logDate{
    color:grey;
    margin-top:8px;
}
.logEntry{
    padding-top:16px;
    padding-left:24px;
}
.newTimePeriodNote{
    padding:0px;
    display:none;
}
.timePeriod{
    clear:both;
}
.textWidth{
    width:400px;
}
.textHeight{
    height:100px;
}
.timePeriodNote{
    font-style:italic;
}
.timePeriodNoteInfo{
    color:grey;
}
.question{
    color:grey;
    cursor:pointer;
}
.task{
    margin-bottom:4px;
    font-weight:bold;
}
.taskNote{
    margin-left:32px;
    clear:both;
}
.taskNoteInfo{
font-style:italic;
    color:grey;
}
.textButton { 
     background:none!important;
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/
     cursor: pointer;
}   
#listOfNewTagTypes, #listOfNewTaskTypes,  #newTaskForm, .selectEndTimestamp, #hideInactiveTimePeriods, .newTaskNote, .hideNewTaskNotes{
    display:none;
}
